.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
  width: 200px;
}

.head {
  display: table-cell;
  padding: 3px 10px;
  width: 200px;
  font-size: 1.3em;
}

.red {
  background-color: #a30e0e;
  color: white;
}

.name {
  width: 200px;
  margin: 20px;
  border: 1px solid #999999;
}

.areaCode {
  width: 30px;
  margin: 0px 5px 0 5px;
  border: 1px solid #999999;
}

.prefix {
  width: 30px;
  margin: 0px 5px 0 5px;
  border: 1px solid #999999;
}

.line {
  width: 50px;
  margin: 0px 20px 0 5px;
  border: 1px solid #999999;
}

button {
  display: inline-block;
  margin: 20px;
  padding: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}